extends layout

block content
 

    a.card(href='#')
      .card-inner
        .content
          .primary-info.

            This is the primary info
        
          .secondary-info.
        
            This is the secondary info
        
          .tertiary-info.
        
            This is the tertiary info
        
          .info
            .info-inner
              .indicators-left
                .indicator.indicator-label Label indicator
                  .indicators-right
                    .indicator
                      .icon.fas.fa-user(aria-hidden='true')
                        Icon indicator

    a.card(href='#')
      .card-inner
        .content
          .primary-info.

            This is the primary info
        
          .secondary-info.
        
            This is the secondary info
        
          .tertiary-info.
        
            This is the tertiary info
        
          .info
            .info-inner
              .indicators-left
                .indicator.indicator-label Label indicator
                  .indicators-right
                    .indicator
                      .icon.fas.fa-user(aria-hidden='true')
                        Icon indicator


      button.btn.btn-primary Primary
      button.btn.btn-secondary Secondary
      button.btn.btn-action Action

      button.btn.btn-blue-regular Click here
      button.btn.btn-purple-light-regular Click here
      button.btn.btn-purple-regular Click here