doctype html
html

  head
    div.class
      header
        container
         title= title
         link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  footer
    .container
      .row
        .col-md-4.col-no-spacing.primary.
        
          © UK Parliament [Year]
        
        .col-md-8.secondary.
            Cookie policy
            Cookie settings
            Privacy notice
            Accessibility statement
